<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p>お気に入り</p>
  
<% @favorites_pictures.each do |picture| %>
  <p>画像： <%= image_tag picture.image.url %></p>
  <p>コメント： <%= picture.content %></p>
<% end %>